ACR_REGISTRY=crpi-sm40omlac0wou3kp.cn-hangzhou.personal.cr.aliyuncs.com
ACR_NAMESPACE=wen-image
IMAGE_TAG=v1.0.0
PROMETHEUS_IMAGE=prom/prometheus:v3.12.0
GRAFANA_IMAGE=grafana/grafana:11.2.0

JWT_SIGNING_KEY=replace_with_at_least_32_random_bytes
MYSQL_ROOT_PASSWORD=replace_with_a_long_random_password
REDIS_PASSWORD=replace_with_a_long_random_password
RABBITMQ_USER=courseforge
RABBITMQ_PASSWORD=replace_with_a_long_random_password
RATE_LIMIT_ENABLED=true
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace_with_a_long_random_password
